<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.5 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Project for Arcada php course 2012-2013 : online store" />
	<meta name="keywords" content="Books, dvd's" />
	<meta name="author" content="sguessou" />
	<link rel="stylesheet" type="text/css" href="<?php echo $this->path; ?>/css/variant-multi.css" title="Variant Multi" media="all" />
	<script src="_js/jquery-1.9.1.min.js"></script>
	<title>Online Store</title>
	<script>
		$(document).ready(function(){
			$('#cartLink').click(function(){
				$('#cartSlider').slideToggle(300);
				return false;
			});//end click
			$('#close').click(function(){
				$('#cartSlider').slideToggle(300);
				return false;
			});// end #close
		});//end ready
	</script>
	<script type="text/javascript">
			// using some javascript to make the user experience a bit better
			// this script simply automatically submits the filter form whenever the
			// user changes a selection.			
			window.onload = function(){
				// fetch references to each form element
				var PrdTypeSelect = document.getElementById('TypeSelect');
				var form = document.getElementById('PrdTypeForm');
				
				// connect a event listener to the country drop down that listens for when it changes
				// send the form again so that we load specific country information
				PrdTypeSelect.onchange = function(){
					form.submit();
				}
			}
			
		</script>
</head>
<body>
<div id="containerfull"><!-- Use"containerfull" for 100% width. For fixed width, use "container980", "container760" or "container600" (the number is the layout width in pixels). -->
	<div id="header">
	<h1><a href="">Online Store</a></h1>
		<h2>[My project for the Arcada PHP course 2012-2013]</h2>
	</div>

<?php $this->getContent() ?>

<div id="footer">
		<div id="footersections">
			<div class="half">
				<h2>Useful Links</h2>
				<ul>
					<li><a href="http://www.arcada.fi" >Arcada.fi</a></li> 
					<li><a href="http://www.hs.fi/" >Helsingin Sanomat</a></li> 
					<li><a href="http://www.youtube.com/" >Youtube</a></li>
					<li><a href="http://www.wired.com/" >Wired</a></li>
					<li><a href="http://www.imdb.com/" >IMDB</a></li>
					<li><a href="https://www.paypal.com" >PayPal</a></li>
				</ul>
			</div>

			<div class="quarter">
				<h2>Web Templates</h2>
				<p>If you want to learn more about HTML, CSS & web templates building go to <a href="http://andreasviklund.com/" >Andreasviklund.com</a></p>
				<p>You can also experiment on your own with freely available templates!</p>
			</div>

			<div class="lastquarter">
				<h2>Programming</h2>
				<ul>
					<li><a href="http://www.php.net/">Php.net</a></li>
					<li><a href="http://jqueryui.com/">jQuery</a></li>
					<li><a href="http://www.apachefriends.org/en/index.html">Apache Friends</a></li>
					<li><a href="http://www.linuxmint.com/">Linux Mint</a></li>
					<li><a href="http://www.mysql.com/">MySQL</a></li>
					<li><a href="http://stackoverflow.com/">Stackoverflow</a></li>
					<li><a href="http://www.evoluted.net/thinktank/web-development/paypal-php-integration">PayPal Integration</a></li>
					
				</ul>	
			</div>     
			<div class="clear">&nbsp;</div> 
		</div>
	</div> 

	<div id="credits">
		<p>&copy;&nbsp;<?php echo $this->siteTitle ?>&nbsp;[sguessou 2013]</p>
	</footer> <br />
		<span class="small">Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a></span></p>
	</div>  
</div>
</body>
</html>
